<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>闸站状态</title>
    <link rel="stylesheet" type="text/css" href="../css/lib/mint-ui.css" />
    <link rel="stylesheet" type="text/css" href="../css/css/frame_zmstate.css" />
    <script type="text/javascript" src="../script/lib/api.js"></script>
    <script type="text/javascript" src="../script/lib/vue.min.js"></script>
    <script type="text/javascript" src="../script/lib/mint-ui.js"></script>
    <script type="text/javascript" src="../script/lib/flexible.js"></script>
    <script type="text/javascript" src="../script/wj-ajax.js"></script>
    <style type="text/css">

    </style>
</head>
<body>
    <div id="main" >
        <mt-loadmore :top-method="loadTop" @top-status-change="handleTopChange" ref="loadmore">
            <section id="section">
                <ul v-show="hasData">
                    <li v-for="(item,index) in zmList">
                        <div class="top">
                            <div class="imgbox">
                                <div class="img"></div>
                            </div>
                            <div class="infobox">
                                <div class="name-model">
                                    <div class="name">
                                        {{item.gate_name}}
                                    </div>
                                    <div v-show="item.RealData&&item.RealData.gateinfo_kzms==0" class="model yellow">
                                        手动模式
                                    </div>
                                    <div v-show="item.RealData&&item.RealData.gateinfo_kzms==1" class="model green">
                                        恒定开度
                                    </div>
                                    <div v-show="item.RealData&&item.RealData.gateinfo_kzms==2" class="model green">
                                        恒定流量
                                    </div>
                                    <div v-show="item.RealData&&item.RealData.gateinfo_kzms==3" class="model green">
                                        恒定闸前水位
                                    </div>
                                    <div v-show="item.RealData&&item.RealData.gateinfo_kzms==4" class="model green">
                                        恒定堰槽水位
                                    </div>
                                </div>
                                <div class="data">
                                    <div class="item">
                                        <div class="text-value">
                                            <span>启闭状态:</span>
                                            <span v-show="item.curtState==0" class="state">停止</span>
                                            <span v-show="item.curtState==1" class="state">上升</span>
                                            <span v-show="item.curtState==2" class="state">下降</span>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="text-value">
                                            <span>闸门开度：</span>
                                            <span><span class="value">{{item.RealData&&item.RealData.gateinfo_zmkd}}</span> mm</span>
                                        </div>
                                        <div class="text-value">
                                            <span>闸后水位：</span>
                                            <span><span class="value">{{item.RealData&&item.RealData.gateinfo_afterwtl}}</span> mm</span>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="text-value">
                                            <span>闸前水位：</span>
                                            <span><span class="value">{{item.RealData&&item.RealData.gateinfo_beforewtl}}</span> mm</span>
                                        </div>
                                        <div class="text-value">
                                            <span>过闸流量：</span>
                                            <span><span class="value">{{item.RealData&&item.RealData.gateinfo_instantaneouswtl}}</span> m/s</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="error" v-if="item.RealData&&item.RealData.device_fault">
                                    <div class="item">{{item.RealData&&item.RealData.device_fault}}</div>
                                </div>

                            </div>
                        </div>
                        <div class="bottom">
                            <div @click="openZmOperate(item)" class="btn">闸门控制</div>
                        </div>
                    </li>
                </ul>
                <!-- 暂无数据,网络异常提示 -->
                <div id="tips-panel" v-show="!hasData||!loadNormal" style="">
                    <div v-show="!hasData&&loadNormal">
                        <div>暂无数据</div>
                    </div>
                    <div v-show="!loadNormal">
                        <div class="tips-panel-img"></div>
                        <div style="margin:10px 0;">网络或服务异常</div>
                        <div>下拉重新加载</div>
                    </div>
                </div>
            </section>
            <div slot="top" class="mint-loadmore-top" style="font-size:0.4rem;text-align:center;color:#A1A6BB;">
                <div v-show="topStatus !== 'loading'" :class="{ 'rotate': topStatus === 'drop' }">↓</div>
                <div v-show="topStatus === 'loading'">
                    <mt-spinner size="20" style="display: inline-block;vertical-align: middle;" type="fading-circle"></mt-spinner>
                    <span>加载中...</span>
                </div>
            </div>
        </mt-loadmore>
    </div>
</body>
<script type="text/javascript">
    //设置dom高度
    function setDomHeight(){
        var bodyHeight = $api.cssVal($api.dom('body'),'height');
        $api.css($api.dom('#section'),'min-height:'+bodyHeight);
    }

    function openwin_zmcontrol(data) {
        api.openWin({
            name: 'win_zmcontrol',
            url: 'win_zmcontrol.html',
            bounces: false,
            slidBackEnabled: true,
            vScrollBarEnabled: false,
            pageParam: {
                data: data
            }
        });
    };
    function opendialog_gatecontrol(data) {
        api.openFrame({
            name: 'dialog_gatecontrol',
            url: '../html/dialog_gatecontrol.html',
            rect: {
                x: 0,
                y: 0,
                w: api.winWidth,
                h: api.winHeight
            },
            bgColor: 'rgba(0,0,0,0.6)',
            bounces: false,
            pageParam: {
                data: data
            }
        });
    };

    //刷新数据
    function refreshData() {
        myVue.loadData();
    }

    var myVue;
    apiready = function() {
        //处理业务
        myVue = new Vue({
            el: '#main',
            data: {
                topStatus: '',//下拉状态
                loadNormal:true, //是否加载正常
                hasData: true, //是否有数据
                zmList: [],//闸门列表
                kzModal: {
                    ZMKD: "",
                    GateId: '',
                    height: '',
                    password: '',
                }
            },
            filters: {
                dateformat: function(value) {
                    return formatDateFormat(value, 'yyyy-MM-dd').replace(/-/g, '.');
                },

            },
            methods: {
                loadTop:function(){//下拉加载数据
                    this.loadData();
                },
                //设置加载后状态
                setLoadState:function(loadNormal,hasData,data){
                    this.loadNormal=loadNormal;
                    this.hasData=hasData;
                    this.zmList=data;
                },
                handleTopChange:function(status) {
                    this.topStatus = status;
                },
                openZmOperate: function(item) {
                    openwin_zmcontrol(item)//打开闸门控制
                },
                autoGetZmList: function() { //定时获取闸门数据
                    var that = this;
                    wjget("YiTiGate/GetList", function(ret, err) {
                        if (ret) {
                            if (ret.Code == 200) {
                                if (ret.Data.length) {

                                    for (var i = 0; i < ret.Data.length; i++) {
                                        for (var k = 0; k < that.zmList.length; k++) {
                                            if(ret.Data[i].gate_sn==that.zmList[k].gate_sn){
                                                if(ret.Data[i].RealData&&that.zmList[k].RealData){
                                                   var lastHeight=that.zmList[k].RealData.gateinfo_zmkd;
                                                    var curtHeight=ret.Data[i].RealData.gateinfo_zmkd;
                                                    if((curtHeight||curtHeight===0)&&(lastHeight||lastHeight===0)){
                                                        if(curtHeight>lastHeight){
                                                            ret.Data[i].curtState=1;
                                                        }else if(curtHeight<lastHeight){
                                                            ret.Data[i].curtState=2;
                                                        }else{
                                                            ret.Data[i].curtState=0;
                                                        }
                                                    }else{
                                                        ret.Data[i].curtState=0;
                                                    }
                                                }else{
                                                    ret.Data[i].curtState=0;
                                                }
                                                break;
                                            }
                                        }
                                    }

                                    that.setLoadState(true,true,ret.Data);

                                }else{
                                    that.setLoadState(true,false,[]);
                                }
                            } else {
                                that.setLoadState(false,false,[]);
                            }
                        } else {
                            that.setLoadState(false,false,[]);
                        }
                        //延迟5秒再次执行
                        setTimeout(function() {
                            that.autoGetZmList();
                        }, 5000);
                    });
                },
                loadData: function(showLoading) { //获取闸孔列表
                    var that = this;
                    showLoading&&that.$indicator.open('加载中...');
                    wjget("YiTiGate/GetList",function(ret, err) {
                        showLoading&&that.$indicator.close();
                        that.$refs.loadmore.onTopLoaded();
                        //console.log(JSON.stringify(ret))
                        // console.log(JSON.stringify(err))
                        if (ret) {
                            if (ret.Code == 200) {
                                if (ret.Data.length) {
                                    ret.Data.forEach(function(item,i,arr){
                                        arr[i].curtState=0;
                                    });
                                    that.setLoadState(true,true,ret.Data);
                                }else{
                                    that.setLoadState(true,false,[]);
                                }
                            } else {
                                that.setLoadState(false,false,[]);
                            }
                        } else {
                            that.setLoadState(false,false,[]);
                        }
                    });
                }
            },
            created: function() {
                this.loadData();
                this.autoGetZmList(); //定时获取闸门数据
            },
            mounted: function() {
                setDomHeight();
            }
        });
    };
</script>

</html>
