html, body, header, section, footer, div, ul, ol, li, img, a, span, em, del, legend, center, strong, var, fieldset, form, label, dl, dt, dd, cite, input, hr, time, mark, code, figcaption, figure, textarea, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  border: 0;
  padding: 0;
  font-style: normal;
}

html, body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  background-color: #fff;
}

nav, article, aside, details, main, header, footer, section, fieldset, figcaption, figure {
  display: block;
}

img, a, button, em, del, strong, var, label, cite, small, time, mark, code, textarea {
  display: inline-block;
}

header, section, footer {
  position: relative;
}

ol, ul {
  list-style: none;
}

input, button, textarea {
  border: 0;
  margin: 0;
  padding: 0;
  /*-webkit-appearance:none;*/
  background-color: rgba(0, 0, 0, 0);
}

span {
  display: inline-block;
}

a:active, a:hover {
  outline: 0;
}

a, a:visited {
  text-decoration: none;
}

label {
  word-wrap: break-word;
  word-break: break-all;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

html {
  font-family: 'PingFangSC Regular',"Microsoft YaHei";
  font-weight: normal;
  font-style: normal;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background: #fff;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}

[v-cloak] {
  display: none;
}

#tips-panel {
  text-align: center;
  font-size: 0.5rem;
  color: #A1A6BB;
  padding-top: 50%;
}

#tips-panel .tips-panel-img {
  width: 0.666667rem;
  height: 0.666667rem;
  display: inline-block;
  background: url(../../image/wifi.png) no-repeat center;
  background-size: 0.666667rem 0.666667rem;
}

#more-tips-panel {
  text-align: center;
  font-size: 0.4rem;
  color: #A1A6BB;
  padding: 10px 0;
}

#main {
  background: #fff;
}

#main ul {
  padding: 0 0.4rem;
  padding-top: 0.4rem;
}

#main ul li {
  margin-bottom: 0.4rem;
  padding-top: 0.32rem;
  width: 9.2rem;
  -webkit-box-shadow: 0 0.06667rem 0.17333rem 0 rgba(64, 85, 196, 0.14);
  box-shadow: 0 0.06667rem 0.17333rem 0 rgba(64, 85, 196, 0.14);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#main ul li .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

#main ul li .top .imgbox {
  width: 1.466667rem;
}

#main ul li .top .imgbox .img {
  margin: auto;
  width: 0.8rem;
  height: 0.8rem;
  background-color: transparent;
  background-image: url(../../image/icon.png);
  background-repeat: no-repeat;
  background-position: -66.94667rem -0.8rem;
  background-size: 72.89333rem 8.89333rem;
}

#main ul li .top .infobox {
  width: 7.733333rem;
  line-height: 0.586667rem;
}

#main ul li .top .infobox .name-model {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#main ul li .top .infobox .name-model .name {
  margin-right: 0.32rem;
  font-size: 0.4rem;
  font-weight: bold;
  color: #222328;
  min-width: 4.0rem;
}

#main ul li .top .infobox .name-model .model {
  padding: 0 0.2rem;
  height: 0.56rem;
  border-radius: 0.066667rem;
  border: 1px solid #000;
  font-size: 0.266667rem;
  text-align: center;
  line-height: 0.56rem;
}

#main ul li .top .infobox .name-model .model.yellow {
  color: #FFBC34;
  border-color: #FFBC34;
}

#main ul li .top .infobox .name-model .model.green {
  color: #24C174;
  border-color: #24C174;
}

#main ul li .top .infobox .data {
  padding-top: 0.08rem;
  padding-bottom: 0.213333rem;
}

#main ul li .top .infobox .data .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 0.106667rem;
}

#main ul li .top .infobox .data .item .text-value {
  width: 50%;
  height: 0.56rem;
  line-height: 0.56rem;
  color: #A1A6BB;
  font-size: 0.373333rem;
}

#main ul li .top .infobox .data .item .text-value .state {
  color: #6FBB18;
  font-size: 0.4rem;
}

#main ul li .top .infobox .data .item .text-value .value {
  font-family: 'Arial';
  color: #64697B;
  font-size: 0.453333rem;
  font-style: italic;
}

#main ul li .top .infobox .error {
  font-size: 0;
  border-top: 1px dashed #E4E7F0;
  padding-bottom: 0.2rem;
}

#main ul li .top .infobox .error .item {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.373333rem;
  color: #E55757;
  width: 50%;
  height: 0.533333rem;
  line-height: 0.533333rem;
  margin-top: 0.2rem;
}

#main ul li .bottom {
  border-top: 1px solid #E4E7F0;
  text-align: right;
}

#main ul li .bottom .btn {
  margin: 0.266667rem 0.4rem 0.266667rem 0;
  display: inline-block;
  vertical-align: middle;
  width: 1.6rem;
  height: 0.64rem;
  background: #1875F0;
  border: 1px solid #1875F0;
  text-align: center;
  font-size: 0.32rem;
  color: #fff;
  line-height: 0.58667rem;
  border-radius: 0.06667rem;
}

#main ul li .bottom .btn:active {
  background: #0d5ec8;
}
