html, body, header, section, footer, div, ul, ol, li, img, a, span, em, del, legend, center, strong, var, fieldset, form, label, dl, dt, dd, cite, input, hr, time, mark, code, figcaption, figure, textarea, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  border: 0;
  padding: 0;
  font-style: normal;
}

html, body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  background-color: #fff;
}

nav, article, aside, details, main, header, footer, section, fieldset, figcaption, figure {
  display: block;
}

img, a, button, em, del, strong, var, label, cite, small, time, mark, code, textarea {
  display: inline-block;
}

header, section, footer {
  position: relative;
}

ol, ul {
  list-style: none;
}

input, button, textarea {
  border: 0;
  margin: 0;
  padding: 0;
  /*-webkit-appearance:none;*/
  background-color: rgba(0, 0, 0, 0);
}

span {
  display: inline-block;
}

a:active, a:hover {
  outline: 0;
}

a, a:visited {
  text-decoration: none;
}

label {
  word-wrap: break-word;
  word-break: break-all;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

html {
  font-family: 'PingFangSC Regular',"Microsoft YaHei";
  font-weight: normal;
  font-style: normal;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background: #fff;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}

[v-cloak] {
  display: none;
}

#tips-panel {
  text-align: center;
  font-size: 0.5rem;
  color: #A1A6BB;
  padding-top: 50%;
}

#tips-panel .tips-panel-img {
  width: 0.666667rem;
  height: 0.666667rem;
  display: inline-block;
  background: url(../../image/wifi.png) no-repeat center;
  background-size: 0.666667rem 0.666667rem;
}

#more-tips-panel {
  text-align: center;
  font-size: 0.4rem;
  color: #A1A6BB;
  padding: 10px 0;
}

#main {
  background: #fff;
}

#main ul {
  padding: 0 0.4rem;
  margin-bottom: 0.4rem;
  border-bottom: 1px solid #E4E7F0;
}

#main ul .name-time {
  height: 1.253333rem;
  line-height: 1.253333rem;
  border-bottom: 1px solid #E4E7F0;
  font-size: 0;
}

#main ul .name-time span {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.346667rem;
}

#main ul .name-time span.name {
  color: #1875F0;
  width: 60%;
}

#main ul .name-time span.time {
  color: #A1A6BB;
  width: 40%;
  text-align: right;
}

#main ul .content .text {
  font-size: 0.373333rem;
  color: #64697B;
  line-height: 0.613333rem;
  padding: 0.266667rem 0;
}
