<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>审批处理</title>
    <link rel="stylesheet" type="text/css" href="../css/lib/mint-ui.css" />
    <link rel="stylesheet" type="text/css" href="../css/css/frm_spsolve.css" />
    <script type="text/javascript" src="../script/lib/api.js"></script>
    <script type="text/javascript" src="../script/lib/vue.min.js"></script>
    <script type="text/javascript" src="../script/lib/mint-ui.js"></script>
    <script type="text/javascript" src="../script/lib/flexible.js"></script>
    <script type="text/javascript" src="../script/wj-ajax.js"></script>
    <style type="text/css">

    </style>
</head>
<body>
    <div id="main" v-cloak>
        <div id="dropdown-select" @click="turnDropdown" :class="{show:dropdownShow}">
            <div id="curt-value">
                <span>{{dropdownLabel}}</span>
                <span v-show="!dropdownShow" class="arrow bottom"></span>
                <span v-show="dropdownShow" class="arrow top"></span>
            </div>
            <ul id="dropdown-list">
                <li @click="dropdownSelect(index)" class="item" :class="{active:item.active}" v-for="(item,index) in dropdownList"><span class="label">{{item.label}}</span><span v-show="item.active" class="arrow"></span></li>
            </ul>
        </div>
        <!-- <div style=""> -->

        <mt-loadmore :top-method="loadTop" @top-status-change="handleTopChange" ref="loadmore">
            <section id="section">
                <ul id="data-list" v-show="hasData">
                    <li v-for="(item,index) in dataList">
                        <div class="top">
                            <div class="imgbox">
                                <div class="img"></div>
                            </div>
                            <div class="infobox">
                                <div class="name-model">
                                    <div class="name">
                                        {{item.TaskName}} {{item.ContentName}}
                                    </div>
                                </div>
                                <div class="data">
                                    <div class="item">
                                        <div class="text-value">
                                            <span class="icon"></span>
                                            <span class="time">{{item.LogTime}}</span>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="content">
                                            {{item.ContentRemark}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom">
                            <div @click="openWinPage(item)" class="btn">查看详情</div>
                        </div>
                    </li>
                </ul>
                <!-- 暂无数据,网络异常提示 -->
                <div id="tips-panel" v-show="!hasData||!loadNormal" style="">
                    <div v-show="!hasData&&loadNormal">
                        <div>暂无数据</div>
                    </div>
                    <div v-show="!loadNormal">
                        <div class="tips-panel-img"></div>
                        <div style="margin:10px 0;">网络或服务异常</div>
                        <div>下拉重新加载</div>
                    </div>
                </div>
            </section>
            <div slot="top" class="mint-loadmore-top" style="font-size:0.4rem;text-align:center;color:#A1A6BB;">
                <div v-show="topStatus == 'pull'" class="rotate">↓ 下拉刷新</div>
                <div v-show="topStatus == 'drop'" :class="{ 'rotate': topStatus === 'drop' }">↑ 释放更新</div>
                <div v-show="topStatus === 'loading'">
                    <mt-spinner size="20" style="display: inline-block;vertical-align: middle;" type="fading-circle"></mt-spinner>
                    <span>加载中...</span>
                </div>
            </div>
        </mt-loadmore>

        <!-- </div> -->
    </div>
</body>
<script type="text/javascript">
    //设置dom高度
    function setDomHeight(){
        var bodyHeight = $api.cssVal($api.dom('body'),'height');
        var ftSize = $api.cssVal($api.dom('body'),'font-size');
        bodyHeight=bodyHeight.replace('px','');
        ftSize=ftSize.replace('px','');
        var result=bodyHeight-1.12*ftSize+'px';
        $api.css($api.dom('#section'),'min-height:'+result);

    }

    function opendialog_gatecontrol(data) {
        api.openFrame({
            name: 'dialog_gatecontrol',
            url: '../html/dialog_gatecontrol.html',
            rect: {
                x: 0,
                y: 0,
                w: api.winWidth,
                h: api.winHeight
            },
            bgColor: 'rgba(0,0,0,0.6)',
            bounces: false,
            pageParam: {
                data: data
            }
        });
    };

    //刷新数据
    function refreshData() {
        myVue.loadData();
    }

    var myVue;
    apiready = function() {
        api.setStatusBarStyle({
            style: 'light',
            color: '#1875F0'
        });
        //处理业务
        myVue = new Vue({
            el: '#main',
            data: {
                dropdownShow:false,
                dropdownLabel:'',
                dropdownValue:'',
                dropdownList:[
                    {label:'待审批',value:1,active:true},
                    {label:'待处理',value:2,active:false},
                ],
                topStatus: '',//下拉状态
                loadNormal:true, //是否加载正常
                hasData: true, //是否有数据
                pageIndex:1,
                dataList: [],//数据列表
            },
            filters: {
                dateformat: function(value) {
                    return formatDateFormat(value, 'yyyy-MM-dd').replace(/-/g, '.');
                },

            },
            methods: {
                dropdownSelect:function(index){//下拉选择
                    this.dropdownList.forEach(function(item,i,arr){
                        if(i==index){
                            arr[i].active=true;
                            this.dropdownLabel=arr[i].label;
                            this.dropdownValue=arr[i].value;
                            this.loadData(true);
                        }else{
                            arr[i].active=false;
                        }
                    }.bind(this))
                },
                turnDropdown:function(){//打开/关闭下拉菜单
                    this.dropdownShow=!this.dropdownShow;
                    if(this.dropdownShow){
                        $api.addCls($api.dom('html'),'alpha');
                    }else{
                        $api.removeCls($api.dom('html'), 'alpha');
                    }
                },
                loadTop:function(){//下拉加载数据
                    this.loadData();
                },
                //设置加载后状态
                setLoadState:function(loadNormal,hasData,data){
                    this.loadNormal=loadNormal;
                    this.hasData=hasData;
                    if(data){
                        this.dataList=data;
                    }
                },
                handleTopChange:function(status) {
                    this.topStatus = status;
                },
                openWinPage:function(data) {
                    if(this.dropdownValue==1){
                        var name='spquestion';
                    }else if(this.dropdownValue==2){
                        var name='errorsolve';
                    }
                    api.openWin({
                        name: 'win_'+name,
                        url: 'win_'+name+'.html',
                        bounces: false,
                        slidBackEnabled: true,
                        vScrollBarEnabled: false,
                        pageParam: {
                            data: data
                        }
                    });
                },
                loadData: function(showLoading) { //
                    var that = this;
                    var param = {
                        PageSize:10,
                        PageIndex: this.pageIndex,
                        AuditStatus:this.dropdownValue
                    };
                    showLoading&&that.$indicator.open('加载中...');
                    wjpost("AppPolling/GetNoApprovePolList", param,function(ret, err) {
                        showLoading&&that.$indicator.close();
                        that.$refs.loadmore.onTopLoaded();
                        console.log(JSON.stringify(ret))
                        //console.log(JSON.stringify(err))
                        if (ret) {
                            if (ret.Code == 200&&ret.Data) {
                                if (ret.Data.Rows && ret.Data.Rows.length) {
                                    that.setLoadState(true,true,ret.Data.Rows);
                                }else{
                                    that.setLoadState(true,false,[]);
                                }
                            } else {
                                that.setLoadState(false,false,[]);
                            }
                        } else {
                            that.setLoadState(false,false,[]);
                        }
                    });
                }
            },
            created: function() {
                this.dropdownSelect(0);//首次加载待审批
            },
            mounted: function() {
                setDomHeight();
            }
        });
    };
</script>

</html>
